In [3]:
import sqlite3
conn = sqlite3.connect('example.db')

In [4]:
c = conn.cursor()

In [6]:
c.execute('CREATE TABLE person(name text, address text)')
conn.commit()

OperationalError: table person already exists

In [9]:
c.execute("SELECT name FROM sqlite_master WHERE type='table'")
c.fetchall()

[('person',)]

In [10]:
c.execute("INSERT INTO person VALUES ('Anna Henry', 'Carlow')")
conn.commit()

In [11]:
c.execute("SELECT * FROM person")
c.fetchall()

[('Anna Henry', 'Carlow')]

In [12]:
person = [('Shelby Beck', 'Tipperary'), ('Marie Carr', 'Kerry'), ('Ger Hanlon', 'Celbridge')]

In [13]:
person

[('Shelby Beck', 'Tipperary'),
 ('Marie Carr', 'Kerry'),
 ('Ger Hanlon', 'Celbridge')]

In [14]:
c.executemany("INSERT INTO person VALUES (?, ?)", person)
conn.commit()

In [15]:
c.execute("SELECT * FROM person")
c.fetchall()

[('Anna Henry', 'Carlow'),
 ('Shelby Beck', 'Tipperary'),
 ('Marie Carr', 'Kerry'),
 ('Ger Hanlon', 'Celbridge')]

# sqlite3 with pandas